{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tienda Online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Agregamos la etiqueta viewport -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Tienda Online</a></h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="contenido"> <!-- Creamos un nuevo contenedor para el contenido -->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
