{% extends 'tienda/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="producto">
                    <h2 class="producto-nombre">{{ producto.nombre }}</h2>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="producto-imagen">
                    <div class="detalles">
                        <p class="producto-precio">Precio: {{ producto.precio }}</p>
                        <p class="producto-descripcion">{{ producto.descripcion }}</p>
                        <!-- Agrega más detalles del producto según sea necesario -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
