/* Estilos para el encabezado */
header {
    background-color: #55aad876; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el título del encabezado */
header h1 {
    color: #fff; /* Color del texto */
    font-size: 36px; /* Tamaño de fuente */
    margin: 0; /* Eliminar márgenes */
}

/* Estilos para la tienda online */

/* Estilo para el título principal */
h1 a {
    color: #333; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto */
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para los nombres de los productos */
h2.producto-nombre {
    color: #666; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 5px; /* Espacio inferior */
}

/* Estilo para los precios de los productos */
p.producto-precio {
    color: #C25100; /* Color del texto */
    font-size: 20px; /* Tamaño de fuente */
}

/* Estilo para el contenedor de cada producto */
div.producto {
    margin-bottom: 20px; /* Espacio inferior */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde con color gris claro */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave */
}

/* Efecto de hover para resaltar los productos */
div.producto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}
